<ol style="display: flex; flex-wrap: wrap; justify-content: center; list-style-type: none; margin: 0; margin-top: 32px; padding: 0; text-align: center;">
  {% set contributors = github["flutter-bounty-hunters"]["ffmpeg_cli"] %}
  {% set contributorCount = 15 %}
  {% for contributor in contributors|take(contributorCount) %}
  <li style="display: inline-block; margin: 0; margin-right: 16px; margin-bottom: 16px; padding: 0;">
    <a
        href="{{ contributor.userUrl }}"
        target="_blank"
        title="{{ contributor.userId }}"
        style="display: inline-block; width: 64px; height: 64px; border-radius: 32px; background-image: url('{{ contributor.avatarUrl }}'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;"></a>
  </li>
  {% endfor %}

  {% if contributors|length > contributorCount %}
  <li style="display: inline-block; margin: 0; padding: 0;">
    <div style="display: inline-block; margin: 0; padding: 0; width: 64px; height: 64px; border-radius: 32px; background: rgba(255, 255, 255, 0.05); line-height: 64px; text-align: center; vertical-align: middle;">
      +{{  contributors|length - contributorCount  }}
    </div>
  </li>
  {% endif %}
</ol>