$phoneWidth: 600px;
$tabletWidth: 1000px;

$pageBackground: #1F2327;
$pageBackgroundHighlight: #21272C;

$pageTitleColor: WHITE;
$pageTitleFontFamily: "Akshar";

$pageSubtitleColor: #C6B72F;
$pageSubtitleFontFamily: "Knewave";

$pageFontFamily: -apple-system, BlinkMacSystemFont, sans-serif, "Segoe UI", Roboto, Ubuntu;

$headerColor: WHITE;
$contentTextColor: #969696;

$dependencyBackground: #252E31;
$dependencyBorderColor: #2A3539;
$dependencyFontFamily: "Cutive Mono";
$dependencyNameColor: #5F5F5F;
$dependencyVersionColor: WHITE;
$dependencyButtonBackgroundColor: #37A4D2;
$dependencyButtonIconColor: WHITE;
$dependencyBorderRadius: 6px;

$buttonBackground: #252E31;
$buttonBackgroundActive: #141A1C;
$buttonBorder: 1px solid #2A3539;
$buttonContentColor: #5F5F5F;
$buttonContentColorActive: rgba(255, 255, 255, 0.5);
$buttonBorderRadius: 6px;
